<tr id="track_<%= track.id %>" class="track_list_item <%= cycle('row_even', 'row_odd') %>"
  data-track-id="<%= track.id %>"
>
  <td class="track_num">
    <%= track.number %>
  </td>
  <td class="track_name">
    <%= track.name %>
  </td>
  <td class="track_time">
    <%= track.time %>
  </td>
  <td class="track_rating">
    <%= rating_to_stars track.rating %>
  </td>
</tr>